@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import "./components/TopBar.css";
@import "./components/Desktop.css";
@import "./components/DraggableWindow.css";
@import "./components/KeebViewer.css";
@import "./components/SocialLinks.css";
@import "./components/AboutMe.css";

/* Root Variables */
:root {
  --bg-color: #faf1e4;
  --main-color: #618c56;
  --error-color: #ad4f4e;
  --text-color: #3c403b;
  --sub-color: #c2b8aa;
  --pixel-size: 2px;
}

/* Reset and Base Styles */
html {
  min-width: 1280px;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: "VT323", monospace;
  color: var(--text-color);
  width: 100%;
  height: 100%;
}

body {
  overflow: auto;
}

/* Root Container */
.retro-os {
  min-height: 100vh;
  min-width: 1280px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  image-rendering: pixelated;
  position: relative;
}
